<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Bootstrap demo</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
	<link rel="stylesheet" type="text/css" th:href="@{/datePicker.css}" />
	<style>
		body{
			min-width: 800px;
		}
		input[type=radio] {
			border: 0px;
			width: 1em;
			height: 1em;
		}
	</style>
</head>

<body>
	<nav class="text-center alert" style="background-color: #e3f2fd">
		<a class="navbar-brand my-auto mx-3" href="#" style="font-weight: bold;font-size:22px;">自動販売機</a>
	</nav>
	<section style="min-width: 800px;">
		<div style="width: 800px; margin: 100px auto">
			<form method="post" th:action="@{/addExpenses}" th:object="${expenses}">
				<p><a th:href="@{/}">自動販売機</a>/登録</p>
				<p class="text-center alert alert-danger" th:if="${same != null}" th:text="${same}"></p>
				<div class="card p-4">
					<div class="card-body">
						<div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label">Date</label>
							<div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy">
								<input id="dateInput" class="form-control" th:field="*{date}" type="text"
									placeholder="date-month-year" />
								<span class="input-group-addon input-group-text justify-content-center"
									style="width: 100px;">
									<i class="bi bi-calendar3"></i>
								</span>
							</div>
							<p class="alert alert-warning" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></p>
						</div>
						<div class="mb-3">
							<label for="item" class="form-label">Item</label>
							<input type="text" class="form-control" id="item" th:field="*{item}">
							<p class="alert alert-warning" th:if="${#fields.hasErrors('item')}" th:errors="*{item}"></p>

						</div>

						<div class="mb-3">
							<label for="cost" class="form-label">Cost</label>
							<div class="input-group mb-3">
								<input type="text" class="form-control" id="cost" th:field="*{cost}">
								<span class="input-group-text justify-content-center" style="width: 100px;">JYP</span>
							</div>
							<p class="alert alert-warning" th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}"></p>
						</div>
					</div>
				</div>
				<!-- Modal Added-->
				<div class="row justify-content-between px-2">
					<div onclick="clearInput()" class="btn btn-warning mt-4 col-5" style="border-radius: 10px">
						キャンセル
					</div>
					<button class="btn btn-primary mt-4 col-5" style="border-radius: 10px">
						登録
					</button>
			</form>
		</div>



	</section>



	<script src="https://code.jquery.com/jquery-3.6.1.min.js"
		integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
		</script>
	<script>
		window.addEventListener('DOMContentLoaded', function () {
			document.getElementById('dateInput').value = '';
		});

		$(function () {
			$("#datepicker").datepicker({
				autoclose: true,
				todayHighlight: true,
			}).datepicker('update', new Date());
		});
		function clearInput() {
			document.getElementById('dateInput').value = '';
			document.getElementById('item').value = '';
			document.getElementById('cost').value = 0;
		}	
	</script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script th:src="@{/datePicker.js}"></script>
	</script>
</body>

</html>